.app {
  display: flex;
  flex-direction: column;
  height: 100px;
}


.logo-container-profile {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  margin-top: 20px;
  height: 100vh;
  padding: 16px;
  overflow-y: auto; 
  padding-bottom: 65px;
}
.profile-container::-webkit-scrollbar {
  display: none;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 0;
  margin-bottom: 16px;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
}

.info-item {
  margin-bottom: 8px;
}

.edit-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 24px;
  margin-bottom: 50px;
}

.edit-info label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.edit-info input {
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
}

.edit-info button {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #007aff;
  color: #fff;
  cursor: pointer;
}

.profile-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  width: 80%;
}

.profile-buttons button {
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  width: 40%;
}

.profile-buttons button:first-child {
  background-color: #007aff;
  margin-right: 10px;
}

.profile-buttons button:last-child {
  background-color: #4cd964;
  margin-left: 10px;
}