.page-container {
  max-width: 350px;
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  max-height: 90vh;
 /*background-image: linear-gradient(to top, #ffffff 0%, #30a60f 100%);*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Updated font family */
}

.logo-container {
  position: absolute;
  top: 5px;
  left: 5px;
}

.logo {
  width: 30px;
  height: 30px;
}

.content-container {
  max-width: 800px; /* Added maximum width for better content alignment */
  border-radius: 20px;
  border: 2px solid #a2e8bd;
  box-shadow: 0px 0px 10px #a2e8bd, 0 2px 4px rgba(0, 0, 0, 0.1); /* Added subtle box-shadow */
  background-color: white;
  padding: 30px; /* Increased padding for better content spacing */
  background-clip: padding-box;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to top, #8ef8a8c6 0%, #ffffff 100%); /* Added subtle background color gradient */
}

.content-container:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px; /* Decrease the bottom border length */
  border-radius: 30px;
  border: 5px solid rgb(7, 195, 79);
  z-index: -1;
}

.content {
  margin-left: 5px; /* Move content 5 pixels to the right */
  margin-top: 5px;
}